streamlit
streamlit-audiorec
requests
python-docx
pytesseract
google-generativeai
PyPDF2
Pillow
pdf2image
beautifulsoup4
selenium
langchain
langchain-community
langchain-core
langchain-classic
langchain-text-splitters
langchain-google-genai
faiss-cpu
python-dotenv
SpeechRecognition
gTTS
